<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>
    <body>
        <div id="background">
            <div id="page">
                {{> header}}
                <div id="contents">
                    <div class="box">
                        <div>
                            <div class="body">
                                <h1>About</h1>
                                <h2>Feel free to contact us!</h2>
                                {{{info.content}}}
                                <hr>
                                <div class="ads">
                                    <h1>Contact</h1>
                                    <h2>Email</h2>
                                    <p>
                                        fake.email@gmail.com
                                    </p>
                                    <h2>Phone Number</h2>
                                    <p>
                                        +1 (999)999-9999
                                    </p>
                                    <image src = "images/icons.png" alt="Img">
                                </div>
                                <h2>We pride ourselves in the 
                                    making sure your experience is positivley
                                    thrilling, alongside peaceful and relaxing.
                                </h2>
                                <image src = "images/logo.png" alt="Img">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{> footer}}
        </div>
    </body>
</html>