<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>
    <body>
        <div id="background">
            <div id="page">
                {{> header}}
                <div id="contents">
                    <div class="box">
                        <div>
                            <div id="news" class="body">
                                <div class="sidebar">
                                    <h3>Latest News</h3>
                                    <ul>
                                        {{#each news}}
                                        <li>
                                            <a href="/api/news/{{this.code}}">{{this.title}}</a>
                                        </li>
                                        {{/each}}
                                    </ul>
                                    <h3>Vacation Tips</h3>
                                    <ul>
                                        <p>
                                            Sunscreen
                                        </p>
                                        <p>
                                            Wait 30-min before swimming
                                        </p>
                                        <p>
                                            Plan an itenerary
                                        </p>
                                        <p>
                                            HAVE FUN!
                                        </p>
                                    </ul>
                                </div>
                                <div>
                                    <h1>News</h1>
                                   
                                    <h2>Sound Of The Sea</h2>
                                    <h3>
                                        Join us for our "Sound of the Sea" festival!
                                    </h3>
                                    <p>
                                        From June, 12th to July 15th, Get a complementary night when you book two or more nights!
                                    </p>
                                    <p>
                                        During the "Sound of the Sea", enjoy multiple festivities, including:
                                    </p>
                                    <p>
                                        - Annual shell hunt
                                    </p>
                                    <p>
                                        - Bark at the Sharks
                                    </p>
                                    <p>
                                        -swimming...just swimming(ran out of fun words)
                                    </p>
                                    
                                </div>
                                <img src = "images/sea-sound.jpg" alt="Img" width="595">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{> footer}}
        </div>
    </body>
</html>